@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .portfolio .tiktok {
    margin-left: 180px;
  }

  .hero-right img {
    padding-left: 100px;
  }

  .skills-right ul li {
    font-size: 0.9rem;
  }

  /* Nav */
  .nav ul {
    padding-left: 10px;
  }
}

@media screen and (max-width: 825px) {
  /* Burger */

  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle-burger .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .toggle-burger .line-2 {
    opacity: 0;
  }

  .toggle-burger .line-3 {
    transform: rotate(45deg) translate(-5px, -8px);
  }

  /* Navigation */

  nav {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    background: var(--fourthBackgroundColor);
    border-left: 1px solid var(--borderColor);
    z-index: 9;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  nav ul {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(0);
  }

  :root {
    --sectionPadding: 4rem 0;
  }

  .section-title {
    font-size: 1.6rem;
    margin: 0.6rem 0 2.5rem;
  }

  .pre-title {
    font-size: 0.8rem;
  }

  /* Hero Section */

  #hero {
    grid-template-columns: 1fr;
    height: fit-content;
    padding-top: 100px;
  }

  .hero-name {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  .hero-left {
    text-align: center;
  }

  .hero-right img {
    padding-left: 200px;
    transform: scale(1.3);
    padding-top: 50px;
  }

  /* Portfolio Section */

  .portfolio img {
    padding-bottom: 10px;
    padding-left: 250px;
  }

  .portfolio .tiktok {
    margin-left: 2px;
  }

  /* Skils Section */

  .skills-grid {
    gap: 1rem;
  }

  /* Footer Section */

  .footer {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 640px) {
  /* Hero Section */

  .hero-right img {
    padding-left: 125px;
    transform: scale(1.3);
    padding-top: 50px;
  }

  /* Portfolio Section */

  .portfolio img {
    padding-left: 180px;
  }

  /* Title */

  .section-title {
    font-size: 1.3rem;
  }

  .pre-title {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-right img {
    padding-left: 80px;
    transform: scale(1.2);
    padding-top: 50px;
  }

  .portfolio img {
    padding-left: 130px;
  }
}
@media screen and (max-width: 450px) {
  .hero-right img {
    padding-left: 50px;
    transform: scale(1);
  }

  .portfolio img {
    padding-left: 100px;
  }
}
