/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Variables */
:root {
  --primary-color: #fb6a27;
  --dark-color: #0f0f0f;
  --gray-color: gray;

  --h1-font-size: 40px;
  --h2-font-size: 32px;
  --small-font-size: 14px;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Global CSS */
section {
  padding: 70px 0;
}

section .sextion-title {
  font-size: var(--h1-font-size);
  font-weight: bold;
  text-transform: uppercase;
}

.btn-orange {
  background-color: var(--primary-color);
  color: white;
}

.text-orange {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.fs-7 {
  font-size: var(--small-font-size);
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--primary-color);
}
/* CSS Per Section   */

/* Navbar */
.navbar .nav-item .nav-link {
  color: white;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:active {
  color: var(--primary-color);
}

body {
  width: 1348px;
}

/* Header */
.header-section {
  width: 100%;
  background-color: rgb(25, 25, 87);
}

.header-section .header-title {
  font-size: var(--h1-font-size);
}

.header-section .header-skill {
  color: white;
}

.header-section .header-skill:hover {
  color: var(--primary-color);
}

.header-section .header-skill i {
  transition: 0.3s;
}

.header-section .header-skill:hover i {
  transform: rotate(-45deg);
}

.header-section.header-img {
  width: 90%;
}

.col-md-5 img {
  margin-top: -28px;
  transform: scale(1.23);
}

/* Portfolio */
.portfolio-section .card .card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* About */
.about-section h2 {
  letter-spacing: 1px;
  text-align: justify;
}

.about-section img {
  margin-top: -225px;
  margin-left: 20px;
}

/* Video */
.video-section .item-1 {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  margin-right: 35px;
}

.video-section .item-2 {
  margin-top: 100px;
  margin-left: 350px;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

/* Contact */
.social-media {
  text-align: center;
  padding-top: 10px;
}

.social-media .ig {
  padding-right: 15px;
}

.social-media .git {
  padding-left: 15px;
}

.social-media .tiktok {
  transition: 0.3s;
}

.social-media .ig,
.social-media .git {
  transition: 0.3s;
}

.social-media .ig:hover,
.social-media .git:hover {
  transform: rotate(15deg);
}

.social-media .tiktok:hover {
  transform: rotate(-15deg);
}

/* Footer */
.footer {
  text-align: center;
}

/* Responsive Breakpoint */

@media screen and (max-width: 768px) {
  .about-section img {
    margin-top: -150px;
  }

  .portfolio-section .card .card-img-top {
    height: 100px;
  }

  .video-section .item-2 {
    margin-left: 30px;
  }

  .col-md-5 img {
    margin-top: 10px;
    transform: scale(1.39);
  }
}

@media screen and (max-width: 576px) {
  .col-md-5 img {
    transform: scale(1.2);
  }

  .header-section {
    width: 1390px;
  }
}
